@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&family=Roboto:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
:root {
    --soft: #eae1d3;
    --color: #c92d1f;
    --green: #80a89b;
    --white:white;
    --serif:'Cormorant Garamond', serif;
    --sans: 'Roboto', sans-serif;
}
body{
    background-color: #eae1d3;
    /* font-family: 'Cormorant Garamond', serif; */
    width: 100vw;
    min-width: 100vw;
    max-width: 100vw;
    overflow-x: hidden;
}
.home-page-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-right: 70px;
    padding-left:70px;
    padding-bottom: 40px;
    background-color: var(--soft);
    
}
.header-2{
    padding-top: 40px;
    position: fixed;
    margin-left: -80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--sans);
    color: var(--color);
    font-size: 13px;
}

.header-1 img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    position: fixed;
    z-index: 100;
    
}
span{
    height: 2px;
    width: 24px;
    background-color: #000;
    display: inline-block;
    position: fixed;
}
span::before{
    content: "";
    height: 2px;
    width: 24px;
    background-color: #000;
    display: inline-block;
    transform: translateY(1px);

}
span::after{
    content: "";
    height: 2px;
    width: 24px;
    background-color: #000;
    display: inline-block;
    transform: translateY(-1px);

}
.about-word-hold{
    display: flex;
    padding-top: 70px;
    border-bottom: 20px;
    border-color: var(--color);
    border-width: 100vw;
    background-color: var(--soft);
    
}

.about-word{
    padding-left: 60px;
    flex: 0.7;
}
.about-word h1{
    font-family: var(--serif);
    color: var(--color);
    font-size: 200px;
    font-weight: 500;
}
.roller-side{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex: 0.3;
    position: relative;
    right: 50px;
    bottom: 30px;

    
}
.roller-sign{
    height: 150px;
    width: 150px;

}
.line{
    height: 1px;
    background-color: var(--color);
    width: 100vw;
}

/* *************************  main-container ************************************ */
.main-hold{
    background-color: var(--soft);
    border-top: 2px var(--color);
    
    padding-top: 50px;
}

.desc-about_hold{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    
}
.desc-about_info{
    padding-left: 80px;
    margin-bottom: 140px;
}

.desc_info_each{
    padding-bottom: 20px;
}
.desc-about_content{
    padding-left: 100px;
    padding-right: 140px;
}
.t_bold{
    font-size: small;
    color: var(--color);
    font-family: var(--sans);
}
.para-1{
    padding-right: 50px;
    letter-spacing: 2px;
}
.para-2{
    letter-spacing: 2px;
}
.link{
    text-decoration: none;
    display: flex;
    color: var(--color);
    padding-bottom: 2px;
    font-size: small;
    
}
.middle-tittle{
    font-size: 50px;
    color: var(--color);
    font-family: var(--serif);
    font-size: 60px;
    font-weight: 500;

}

.desc-about_content_para{
    display: flex;
    color: var(--color);
    padding-top: 40px;
    padding-right: 50px;
    /* gap: 20px;
    line-height: 150%;
    word-spacing: 4px; */
}
.mid-about-pic{
    padding-bottom: 50px;
}

.mid-picture{
    max-width: 200%;
    height: auto; 
}
.selected_client{
    height: 60px;
    border: 2.5px solid var(--color);
    border-left: none;
    border-right: none;
    display: flex;
    align-items: center;
}

.t-hold{
    color: var(--color);
    padding-left: 70px; 
    font-family: var(--sans);
    letter-spacing: 1px;

}
/* ******************footer**************************************** */
.footer{
    color: var(--color);
    position: sticky;
    bottom: 0;
    z-index: -1;
}
.footer_subj{
    letter-spacing: 2px;
    border: solid;
    border-width: 2px;
    border-top-color: var(--soft);
    border-left-color: var(--soft);
    border-right-color: var(--soft);
    flex-direction: row;
    margin-top:10px ;
    padding-bottom:15px ;
    font-family: var(--sans);
}

.linked{
    text-decoration: none;
    display: flex;
    color: var(--color);
    padding-bottom: 25px;
    font-size: small;
    letter-spacing: 2px;
}

.footer-hold{
    margin-left: 80px;
    margin-top: 70px;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.media_query{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_content{
    padding-top: 30px;
}
.t_bold{
    font-family: var(--sans);
    letter-spacing: 2px;
}

.footer-col1{
    border: solid;
    border-left-color: var(--soft);
    border-right-color: var(--soft);
    border-width: 2px;
    height: 250px;
    width: 300px;
}
.footer-col2{
    border: solid;
    border-left-color: var(--soft);
    border-right-color: var(--soft);
    border-width: 2px;
    height: 250px;
    width: 300px;
    margin-left: 100px;
}
.footer-col3{
    border: solid;
    border-left-color: var(--soft);
    border-right-color: var(--soft);
    border-width: 2px;
    height: 250px;
    width: 500px;
    padding-right:200px;
}

.footer_contact_subj{
    letter-spacing: 2px;
    width:500px;
    border: solid;
    border-width: 2px;
    border-top-color: var(--soft);
    border-left-color: var(--soft);
    border-right-color: var(--soft);
    flex-direction: row;
    margin-top:10px ;
    padding-bottom:15px ;
    font-family: var(--sans);
}