
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&family=Roboto:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
:root {
    --soft: #eae1d3;
    --color: #c92d1f;
    --green: #80a89b;
    --serif:'Cormorant Garamond', serif;
    --sans: 'Roboto', sans-serif;
}
body{
    background-color: #eae1d3;
    font-family: 'Cormorant Garamond', serif;
}
.home-page-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-right: 70px;
    padding-left:70px;
    padding-bottom: 40px;

}
.header-2{
    padding-top: 40px;
    position: fixed;
    margin-left: -80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--sans);
    color: var(--color);
    font-size: 13px;
}

.header-1 img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    position: fixed;
    z-index: 100;
    
}
span{
    height: 2px;
    width: 24px;
    background-color: #000;
    display: inline-block;
    position: fixed;
}
span::before{
    content: "";
    height: 2px;
    width: 24px;
    background-color: #000;
    display: inline-block;
    transform: translateY(1px);

}

span::after{
    content: "";
    height: 2px;
    width: 24px;
    background-color: #000;
    display: inline-block;
    transform: translateY(-1px);

}
.home-page-hold{
    padding-right: 25px;
    padding-left: 25px;
}
h1{
    color: var(--color);
    font-size: 40px;
    padding-right: 40px;
    font-weight: 500;
}
.t-tittle{
    padding-left: 30px;
}

.home-page-svg{
    padding:25px;
}

.btn{
    height: 50px;
    width: 160px;
    text-decoration: none;
    color: var(--color);
    background-color: var(--soft);
    border: 2px solid var(--color);
    border-radius: 38px;
    position: relative;
    font-weight: bolder;
    font-size: 16px;
    overflow: hidden;
    margin-top: 40px;
}
.btn:hover .btn-lg{
    transform: translateY(0px);
}
.btn-lg{
    position: absolute;
    transform: translateY(140px);
    top: -1px;
    left: -2px;
    height: 50px;
    width: 160px;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: var(--color);
    border-radius: 38px;
    transition: all 0.3s ease-out;
}
button{
    text-decoration: none;
    outline: none;
    text-transform: uppercase;
}
.btn:focus{
    outline: none;
}

.post-home-see-all{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.t-bold-cont{
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
}
.t-bold-cont a,.t-bold-insta a{
    text-decoration: none;
}
.home-page-info{
    padding-top: 60px; 
    margin-top:-20px; 
    padding-left: 35px; 
    padding-right: 40px;
}
.home-page-loc-insta{
    display: flex;
    justify-content: space-between;
}
.t-bold-insta{
    display: flex;
    justify-content: flex-end;
    height: 80px;
}
h5{
    text-decoration: none;
    color: var(--color);
    font-family: var(--sans);
    outline: none;
}
.post-content-container{
    display: grid;
    grid-template-columns: 3fr 1fr;
}

/* .post-content-container:hover .post-under-img-container{
    transform: translateY(0px);
}

.post-under-img-container{
    position: absolute;
    transform: translateY(140px);
    top: -1px;
    left: -2px;
    display: flex;
    justify-content: center;
    align-items: center;
} */
.t-hold{
    padding-left: 60px; 
    color:var(--color); 
    font-weight: bold;
    font-family: var(--sans);
    letter-spacing: 3px;
    font-size: 13px;
    font-weight: 1000;
}
.a-link{
    /* margin-left: 200px; */
    padding-right:70px;
    display:flex; 
    text-decoration: none;
    color: var(--color);
    font-weight: 1000;
    letter-spacing: 3px;
}
.post-home-see-all{
    border: solid;
    border-width: 2px;
    border-color: var(--color);
    border-left: 0px;
    border-right: 0px;
}

.post-home-post{
    border:solid;
    border-width: 1px;
    border-color: var(--color);
    padding: 25px 0px;
    border-left: 0px;
    border-right: 0px;
}
.page-writing h1{
    font-size:110px;
    font-weight: 500;
}
.page-writing{
    margin-left: 60px;
    display: flex;
}
.page-brand-name{
    margin-top: 80px;
    padding-right: 50px;
}
.page-brand-name .t-hold{
    letter-spacing: 5px;
    font-size: 17px;
    padding-left: 60px; 
    color:var(--color); 
    font-weight: bold;
    font-family: var(--sans);
    letter-spacing: 3px;
    font-weight: 1000;
    display: flex;
    justify-content: flex-end;
}
.cat{
    display: flex;
    justify-content: flex-end;
    color: var(--color);
    font-family: var(--sans);
    font-size: 10px;
    letter-spacing: 3px;
    padding-bottom: 5px;
}
.count h3{
    padding-top: 30px;
    padding-right:20px;
    color:var(--color);
    text-decoration:underline;
    font-family: var(--sans);
}