.menu-toggle{
    position: fixed;
    right: 16px;
}
::-webkit-scrollbar{
    display: none;
}
#menu-toggle-btn{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    position: relative;
    cursor: pointer;
    transition: all 0.3s;
    z-index: 1000;
}
span{
    height: 2px ;
    background: var(--color);
    width: 24px;
    display: inline-block;
    position: absolute;
    top: 50%;
    justify-content: flex-end;
    transition: all 0.3s;
}
span::before{
    content: " ";
    position: absolute;
    display: inline-block;
    height: 2px;
    background: var(--color);
    transform: translateY(-4px);
    width: 24px;
    transition: all 0.3s;
    top: -2px;
}
span::after{
    content: " ";
    position: absolute;
    display: inline-block;
    height: 2px;
    width: 24px;
    transition: all 0.01s;
    background: var(--color);
    top: -2px;
    transform: translateX(-24px) translateY(-4px);

}
.active span::after{
    opacity: 0;
}
.active span{
    transform: rotate(45deg);
    width: 24px;
    /* background: #fff; */
}
.active span::before{
    top: unset;
    transform: rotate(-90deg);
    width: 24px;
    /* background: #fff; */
}
.active:hover span::before{
    top: unset;
}
